<h1>{{title}}</h1>
<p>Welcome Ironhacker!</p>

{{#each posts}}
<div>
  <a href="/posts/{{ _id }}"><h4>{{ picName }}</h4></a>
  <img class="post-image" src="{{ picPath }}" alt="{{ picName }}">

 <p>{{ content }}</p>
</div>
{{/each}}

