{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
    {{#if user.picture}}
    <img src="{{ user.picture }}" alt="{{ user.username }}">
    {{/if}}
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}